// Page header
.front-hero {
  .hero-text {
    margin-top: 150px;
    color: $white;
    p {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 35px;
    }
    .ghost {
      margin-left: 20px;
    }
  }
  .marketing {
    @include xy-grid-container(55rem);
    @include xy-grid;
  }


  @include breakpoint(small) {
    background: url('../images/bg_hero.jpg') bottom center;
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(65%) 0;
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background: url('../images/bg_hero.jpg') bottom center;
    background-size: cover;
    background-position: center;
    height: rem-calc(685);
  }
}

#reasons {
  margin-top: 50px;
}

.testimonials {
  text-align: center;
  blockquote {
    color: $blue;
    font-size: 40px;
    line-height: 49px;
    max-width: 830px;
    margin: 0 auto 35px auto;
    text-align: center;
    border-left: none;
  }
  .person {
    color: $black;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.meet-the-team {
  background: url('../images/bg_meet-the-team@2x.jpg') bottom center;
  background-size: cover;
  background-position: center;
  height: 490px;
  color: $white;
  h2 {
    color: $white;
  }
  p {
    max-width: 60%;
  }
  a {
    color: $yellow;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }
}
