.services {
  .service-container {
    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
    &:nth-child(even) {
      background: url('../images/bg_texture.png') top left repeat;
      color: $white;
      h2 {
        color: $white;
      }
    }
  }
  h2 {
    position: relative;
    z-index: 2;
  }
  padding: 0;
  .bg_service-image {
    min-height: 695px
  }
  #tax-prep {
    background-size: cover;
    background-position: bottom;
  }
  .service-content {
    padding: 100px;
    position: relative;
    // &:nth-child(1) {
    //   &:before {
    //     content: "01";
    //     font-size: 160px;
    //     display: block;
    //     position: absolute;
    //     left: 50px;
    //     color: #ECECEB;
    //     font-weight: bold;
    //     top: -10px;
    //   }
    // }
    @include breakpoint(990px down) {
      padding: 80px;
    }
    @include breakpoint(small down) {
      padding: 40px;
    }
  }
}


.capabilities {
  .cell {
    position: relative;
    &:nth-child(1) {
      &:before {
        font-family: 'AkrobatBlack';
        content: "01";
        font-size: 160px;
        display: block;
        position: absolute;
        right: -12px;
        color: #1F6176;
        font-weight: bold;
        top: -73px;
      }
    }
    &:nth-child(2) {
      &:before {
        font-family: 'AkrobatBlack';
        content: "02";
        font-size: 160px;
        display: block;
        position: absolute;
        right: -12px;
        color: #1F6176;
        font-weight: bold;
        top: -73px;
      }
    }
    &:nth-child(3) {
      &:before {
        font-family: 'AkrobatBlack';
        content: "03";
        font-size: 160px;
        display: block;
        position: absolute;
        right: -12px;
        color: #1F6176;
        font-weight: bold;
        top: -73px;
      }
    }
    &:nth-child(4) {
      &:before {
        font-family: 'AkrobatBlack';
        content: "04";
        font-size: 160px;
        display: block;
        position: absolute;
        right: -12px;
        color: #1F6176;
        font-weight: bold;
        top: -73px;
      }
    }
    img {
      z-index: 1;
      position: relative;
    }
  }
}
