.footer-container {
  background: $dark-blue;
  color: $white;
}

.footer {
  padding-left: 0px !important;
  padding-right: 0px !important;
  @include xy-grid-container;
  @include xy-grid;
  padding: 60px 0;
  .medium-3 {
    width: 20%;
    &:first-of-type {
      width: 40%;
      @include breakpoint(990px down) {
        width: 100%;
      }
    }
    @include breakpoint(990px down) {
      width: 100%;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }

  section {
    @include xy-cell(auto);
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $white;
    &:hover {
      color: $yellow;
    }
  }
  #foot1 {
    img {
      margin-bottom: 15px;
    }
  }
  #foot2 {
    @include breakpoint(990px down) {
      width: 33.3333%;
      @include breakpoint(small only) {
      width: 100%;
      }
    }
  }
  #foot3 {
    @include breakpoint(990px down) {
      width: 33.3333%;
      @include breakpoint(small only) {
      width: 100%;
      }
    }
    address {
      font-style: normal;
    }
  }
  #foot4 {
    @include breakpoint(990px down) {
      width: 33.3333%;
      @include breakpoint(small only) {
      width: 100%;
      }
    }
    ul {
      li {
        display: inline-block;
        padding-right: 15px;
        &:last-of-type {
          padding: 0px;
        }
      }
    }
  }
}
