.footer-container {
  background: $dark-blue;
  color: $white;
}

.footer {
  @include xy-grid-container;
  @include xy-grid;
  padding: 60px 0;

  section {
    @include xy-cell(auto);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $white;
  }
  #foot1 {
    img {
      margin-bottom: 15px;
    }
  }
  #foot2 {

  }
  #foot3 {
    address {
      font-style: normal;
    }
  }
  #foot4 {
    ul {
      li {
        display: inline-block;
        padding-right: 15px;
        &:last-of-type {
          padding: 0px;
        }
      }
    }
  }
}
