.site-header {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  .logo {
    margin: 30px 0 0 30px;
  }
  nav {
    float: right;
    margin-top: 20px;
    a {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}

.seperator {
  background: $yellow;
  width: 90px;
  display: block;
  height: 3px;
  margin: 25px 0 30px 0;
}
