.site-header {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  .logo {
    margin: 30px 0 0 30px;
  }
  nav {
    float: right;
    margin-top: 20px;
    a {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 4px;
      &:hover {
        color: $yellow;
      }
    }
    .is-active {
      a {
        border-bottom: 3px solid $yellow;
      }
    }
  }
}

.menu-item-type-custom {
  a::first-letter {
    color: $yellow;
  }
}

// inner page header

.inner-hero {
  .hero-text {
    margin-top: 100px;
    color: $white;
    p {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 35px;
    }
    .ghost {
      margin-left: 20px;
    }
  }
  .marketing {
    @include xy-grid-container(55rem);
    @include xy-grid;
  }


  @include breakpoint(small) {
    background: url('../images/bg_hero.jpg') bottom center;
    background-size: cover;
    background-position: center center;
    padding: rem-calc(65%) 0;
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background: url('../images/bg_hero.jpg') bottom center;
    background-size: cover;
    background-position: center;
    max-height: 465px;
  }
}




.seperator {
  background: $yellow;
  width: 90px;
  display: block;
  height: 3px;
  margin: 25px 0 30px 0;
}

section {
  padding: 70px 0;
}

.bg_blue {
  background: url('../images/bg_texture.png') top left repeat;
  color: $white;
  a {
    color: $yellow;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .cta {
    .button {
      color: $white;
    }
  }
}

.cta {
  .button {
    text-align: center;
    width: 190px;
    height: 50px;
    font-weight: bold !important;
    line-height: 24px;
    margin: 70px auto 0 auto;
  }
}

.leadin {
  text-align: center;
  display: block;
  h2 {
    color: $white;
  }
  .seperator {
    margin: 25px auto 30px auto;
    width: 90px;
  }
}


.reveal-overlay {
  background-color: rgba(7, 97, 127, 0.89);
  .reveal {
    padding: 40px;
    border: none;
    a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}

  }
}

.slider {
  background: $white;
  .slick-active {
     button:before {
      color: $yellow;
    }
  }
}
